<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings>
    
<generalsettings>
        <resolution>Windowed Screen</resolution>
        <logo>default</logo>
        <tableNum>15</tableNum>
        <enableKeyPad>0</enableKeyPad>
        <emailAddress>zcsastock@gmail.com</emailAddress>
        <emailPassword>Password32</emailPassword>
        <themeColor>Red</themeColor>
        <databaseUsername>root</databaseUsername>
        <databasePassword>root</databasePassword>
    </generalsettings></settings>