<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings>
    
    
    
<generalsettings>
        <resolution>Fullscreen</resolution>
        <logo>default</logo>
        <tableNum>15</tableNum>
        <emailAddress>zcsastock@gmail.com</emailAddress>
        <emailPassword>Passwor32</emailPassword>
        <themeColor>Red</themeColor>
    </generalsettings></settings>